
nav{
    background-color: gray;
    height: 50px;
    
}


nav > a:nth-child(2){
    margin-left: 40px;
}
nav a{
text-decoration: none;
color: white;
margin-left: 15px;
}
nav a:hover {color: orange;}
nav .active {color: yellow;}

.f-right{
    float: right;
}

.navIcon{
    display:flex;
    margin-right: 20px;
    height: 100%;
    float: right;
    align-items: center;
}


.navIcon i{
color: yellow;
}

.navIcon span{
    color: white;
    border: solid;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
}



nav .dropdown{
    margin-left: 50px;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 30%;
    max-width: 300px;
    min-width: 170px;
}
nav .dropdown  i{
    padding: 10px;
}


nav .dropdown button {
    background-color: yellow;
    text-align: left;
    height: 100%;
    color: black;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  nav .dropdown div {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  nav .dropdown div a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  nav .dropdown div a:hover {background-color: orange}
  
  nav .dropdown:hover div {
    display: block;
  }
  

  @media only screen and (max-width: 850px) {

    *{font-size: 11px;}

    nav > a:nth-child(2){
        margin-left: 5px;
    }

    nav .dropdown{
        margin-left: 5px;
        width: auto;
        min-width:5px;

    }

  }

  
  @media only screen and (max-width: 520px) {
    *{font-size: 13px;}
    nav{
        height: auto;
        padding:5px;
    }
    nav .dropdown{
    display: block;
    max-width:none;
    width: 150px;
    margin: auto;
    }

    nav a{
        margin-left: 5px;
        display: block;
        margin-top: 10px;
        text-align: center;
    }

    .navIcon{
        display:block;
        width: 50px;
        margin: auto;
        margin-top: 20px;
        float: none;
       
    }
  }